* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-decoration: none;
  	font-family: 'Exo 2', sans-serif;
    background-color: #f8f8ff;
}
 /* default h1 font size for smaller screens */
h1 {
    font-size: 1.8rem;
}
/* default h2 font size for smaller screens */
h2 {
    font-size: 1.1rem;
}

/* home icon on nav bar */
.home-icon {
	 margin-bottom: 10px;
	 margin-right:5px;
	 width: 20px;
	 height: 20px;
}

.home-icon:hover {
    filter: brightness(0.8);
}

/* generic icon styling on navbar */
.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.icon:hover {
    filter: brightness(0.8);
}

/* nav brand class to change on hover on navbar */
.navbar-brand:hover {
    filter: brightness(0.8);
}

/* styling for search icon on blogs and search page */
.search-icon {
    width: 20px;
    height: 20px;
}

/* register icon styling on navbar */
.register-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.register-icon:hover {
    filter: brightness(0.8);
}

/* table header styling on account page */
.table-header {
    color: white;
}

/* signup icon on login page*/
.signup-icon{
    width: 30px;
    height: 30px;
    fill: #28a745;
    margin-left: 5px;
}

.signup-icon:hover {
    fill: #6b7a89;
}

/* log in icon on register page*/
.login-icon {
    width: 20px;
    height: 20px;
    fill: #28a745;
    margin-left: 5px;
}

.login-icon:hover {
    fill: #6b7a89;
}

/* styling for BS form control class on register, login and search pages */
.form-control {
    width: 50%; /* 50% width on larger screens */
}

@media screen and (max-width: 768px) {
  .form-control {
      width: 80%; /* 80% width on smaller screens */
      margin-right: 5px;
  }
}

/*styling for the background container on the single blog page */
.blog-container {
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      margin-top: 40px;
}

/* styling for the list group on the blogs page*/
.list-group {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 40px;
}

/* styling for the table wrapper on the account page*/
.table-responsive {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 40px;
}

/* styling for the jumbotron */
/* code credit: https://www.kodingmadesimple.com/2015/09/twitter-bootstrap-jumbotron-background-image-responsive.html ; */
.jumbotron{
    background: #000 url("../images/book.jpg") no-repeat center center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: #fff; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 40px 40px;
}

/* search icon that will appear in search bar on blogs and search page */
/* code credit: https://www.w3schools.com/css/css_form.asp */
.form-search {
    background-image: url('../images/search1.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

/* class that will keep the delete modal hidden from the page */
.hidden {
    display: none;
}

/* styling for the delete modal button */
#delete-confirm {
    margin-right: 20px; 
}

/*  custom margins for the paragraph on the error html pages */
.error-margin {
    margin-top: 20px;
    padding-bottom: 20px;
}

/* margin for the h2 on the top of the acccount page */
.account-margin {
    margin-bottom: 25px;
}
/* sets the size and position of flash alert */
.alert {
    max-width: 500px;
    margin: auto;
}

/* sets primary green colour to the bootstrap pagination */
.page-item.active .page-link {
    background-color: #28a745;
    border-color: #28a745; 
}

/* adds primary green colour to pagination items and links */
.page-item .page-link {
    color: #28a745;
}

/* searchbox on blogs and search pages */
/* code credit: https://www.w3schools.com/howto/howto_css_inline_form.asp; */
.searchbox {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 20px;
}

/* searchbox button on search and blogs pages */
.searchbox button {
    margin-left: 5px
}

/* loading spinner */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -75px 0 0 -75px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #28a745;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ------------------ general media queries ------------------- */

/* medium screens and up */
@media screen and (min-width: 768px) {
    html {
        font-size: 1.05rem;
  }
    h1 {
        font-size: 2rem;
  }
    h2 {
        font-size: 1.2rem;
    }
}

/* large screens and up */
@media screen and (min-width: 992px) {
    html {
      font-size: 1.1rem;
  }
    h1 {
      font-size: 2.2rem;
  }
    h2 {
      font-size: 1.3rem;
    }
}

/*  extra large screens and up */
@media screen and (min-width: 1200px) {
    html {
      font-size: 1.2rem;
  }
    h1 {
      font-size: 2.5rem;
  }
    h2 {
      font-size: 1.4rem;
    }
}