* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {

  	font-family: 'Exo 2', sans-serif;
  }

  a:hover {
  background-color: grey;
}
.home-icon {
	margin-bottom: 10px;
	margin-right:5px;
	width: 20px;
	height: 20px;
}

.icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

