<div class="col-sm-6 col-lg-4 my-3">
    <div class="card">

        {% if blog.image %}
        <img src="{{ blog.image }}" alt="Blog Image" class="img-fluid card-image">
        
        {% else %}
        <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" class="img-fluid card-image" alt="Blog">
        
        {% endif %}

        <!-- image overlay text -->
        <div class="card-img-overlay">
            <a href="{{ url_for('blog', blog_id=blog._id) }}">
                <h6 class="card-title">{{ blog.title }}</h6>
            </a>   
        </div>
        
    </div> <!-- end card -->
</div> <!-- end col -->