<!--Flash Messages-->
	{% with info = get_flashed_messages(category_filter=["info"]) %}
 		 {% if info %}
    		{%- for message in info %}
     			 <div class="alert alert-info"><img src="{{ url_for('static', filename='images/checkmark-outline.svg') }}" class="icon" alt="info">{{ message }}</div>
    		{% endfor -%}
  		{% endif %}
	{% endwith %}

	{% with danger = get_flashed_messages(category_filter=["danger"]) %}
 		 {% if danger %}
    		{%- for message in danger %}
     			 <div class="alert alert-danger"><img src="{{ url_for('static', filename='images/exclamation-outline.svg') }}" class="icon" alt="info">{{ message }}</div>
    		{% endfor -%}
  		{% endif %}
	{% endwith %}

	
