<!--Flash Messages-->
	{% with messages = get_flashed_messages(with_categories=true) %}
 		 {% if messages %}
    		{% for category, message in messages %}
     			 <div class="alert alert-{{ category }}"><img src="{{ url_for('static', filename='images/checkmark-outline.svg') }}" class="icon" alt="success">{{ message }}</div>
     			 
		
    		{% endfor %}
  		{% endif %}
	{% endwith %}

		{% if error %}
  			<div class="alert alert-danger"><img src="{{ url_for('static', filename='images/exclamation-outline.svg') }}" class="icon" alt="error">{{error}}</div>
		{% endif %}
