<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container">
        
        <a href="/" class="navbar-brand font-weight-bold"><img src="{{ url_for('static', filename='images/home.svg') }}" class="home-icon" alt="Home icon">Flask Blog</a>

        {% if title %}
            <span class="pl-3 text-light d-none d-lg-block">{{title}}</span>
           {% else %}
            <span class="pl-3 text-light d-none d-lg-block">A blog</span>
            {% endif %}
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#dropdown">
                          <span class="navbar-toggler-icon"></span>
                    </button>
              <div class="collapse navbar-collapse" id="dropdown">
                    <ul class="navbar-nav ml-auto">
                        {% if session.logged_in %}
                        <li class="nav-item">
                            <a href="{{ url_for('blogs') }}" class="nav-link text-light">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{url_for('account', account_name=session.username)}}" class="nav-link text-light">Account</a>
                        </li>   
                        <li class="nav-item">
                            <a href="{{ url_for('logout')}}" class="nav-link text-light">Logout</a>
                        </li>  
                        {% else %}               
                        <li class="nav-item">
                            <a href="{{ url_for('blogs') }}" class="nav-link text-light"><img src="{{ url_for('static', filename='images/book-reference.svg') }}" class="blogs-icon" alt="Blogs">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('login') }}" class="nav-link text-light"><img src="{{ url_for('static', filename='images/key.svg') }}" class="key-icon" alt="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('register') }}" class="nav-link text-light">Register</a>
                        </li>
                        {% endif %}
                    </ul>
              </div> <!-- end of navbar collapse -->
        
    </div> <!-- end of container -->
</nav> <!-- end of nav -->

