{% extends 'base.html' %}

{% block content %}
    <h1><small> Welcome {{ account_name | capitalize }}</small></h1>
    {% if count %}
      <h2 class="account-margin"> You have <strong>{{count}}</strong> reviews</h2>
    {% else %}
      <h2 class="account-margin"> You have no reviews created</h2>
    {% endif %}
      <a class="btn btn-sm btn-success mb-4" href="{{(url_for('add_blog'))}}"><img src="{{ url_for('static', filename='images/document-add.svg') }}" class="icon" alt="Add Review"> Add review</a>
 
  <div class="table-responsive">
    <table class="table mt-3 table-sm table-striped">
        <thead class="table-header bg-success">
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th></th>
            <th></th>
          </tr>
        </thead>  
        {% for blog in current_user_blogs %}
        {% raw %}
        <!-- Delete Modal -->
      <div class="modal fade hidden" id="deleteModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Review</h5>
              <button type="button" class="close" data-dismiss="modal">x</button>  
            </div>
            <div class="modal-body">
              <p class="text-center text-danger">Are you sure you want to delete?</p>
              <p class="text-center"><a class="btn btn-sm btn-danger" id="delete-confirm" href="#">Delete</a>
                  <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Cancel</button>
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endraw %}
          <tr>
            <td><a class="text-dark" href="{{(url_for('blog', blog_id=blog._id))}}">{{ blog.title }}</a></td>
            <td>{{ blog.author | capitalize }}</td>
            <td>{{ blog.posted_on }}</td>
            <td><a class="btn btn-sm btn-success" href="{{(url_for('edit_blog', blog_id=blog._id))}}" >Edit</a></td>
            <td><a class="btn btn-sm btn-warning" id="delete-button" href="{{(url_for('delete', blog_id=blog._id))}}" data-toggle="modal" data-target="#deleteModal" >Delete</a></td>
          </tr>
        {% endfor %}
  </table>
</div>

{% endblock %}