<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% if title %}
            <title>{{ title }} - Flask Blog</title>
        {% else %}
            <title>Flask Blog</title>
        {% endif %}
        <!-- Google fonts -->    
        <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet"> 
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- custom css stylesheet-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
        <script src="https://cdn.ckeditor.com/4.13.0/basic/ckeditor.js"></script>
    </head>
    <body>
        {% include 'includes/_nav.html' %}
        <div class="container">
            {% include 'includes/_messages.html' %}
                {% block content %}
                 
                {% endblock %} 
        </div>
        <div id="loader" Title="loading"></div>
        <!-- scripts -->
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script>CKEDITOR.replace( 'editor' );</script> 
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>