{% extends 'base.html' %}

{% block content %} 

    <h1>Blogs</h1>

      <!-- search box -->
      <form class="searchbox" action="{{ url_for('search', search_query=search_query, current_page=current_page, results=results) }}">
          <input type="text" class="form-control form-search" name="search_query" placeholder="Search blogs">
          <!-- search button -->
          <button class="btn btn-sm btn-success">
          <img src="{{ url_for('static', filename='images/search.svg') }}" class="search-icon" 
          alt="Search Blog">
          </button>
      </form>

  <ul class="list-group mt-3">

    {% for blog in blogs %}
      <li class="list-group-item"><a class="text-dark" href="{{(url_for('blog',blog_id=blog._id))}}">{{blog.title | capitalize}}</a></li>
      
    {% endfor %}
  </ul>
    <!--Pagination-->
    <nav aria-label="pagination">
        <ul class="pagination justify-content-center pb-3">

            {% for page_number in pages %} 
            {% if page_number == current_page %}
            <li class="page-item active"><a class="page-link">{{ page_number }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('blogs', current_page=page_number) }}">{{ page_number }}</a></li>
            
            {% endif %} 
    {% endfor %}
        </ul>
    </nav>

{% endblock %}