{% extends 'base.html' %}

{% block content %} 

<h1 class="text-center">Blogs</h1>

<form class="text-center" action="{{ url_for('search', search_query=search_query, current_page=current_page, results=results) }}">
                <input type="text" class="search__input mb-3" name="search_query" placeholder="Search blogs">
                <button class="btn btn-sm btn-success">
                	<img src="{{ url_for('static', filename='images/search.svg') }}" class="search-icon" alt="Search Blog">
                </button>
            </form>
    
  <ul class="list-group">
    {% for blog in blogs %}
      <li class="list-group-item"><a href="{{(url_for('blog',blog_id=blog._id))}}">{{blog.title}}</a></li>
    {% endfor %}
  </ul>

{% endblock %}