{% extends 'base.html' %} 

{% block content %}

        <h1>Edit your blog</h1>
        <!--Register Form-->
        <form method="POST" action="" class="form">
            {{ form.hidden_tag() }}
            
            <!--title field-->
            <div class="form__group">
                    {% if form.title.errors %} {{ form.title(class="form-control") }}
                <div class="text-danger">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                    {% else %} 
                        {{ form.title(autofocus=true, class="form-control mb-3", required=true, placeholder=" Enter title") }} 
                    {% endif %}
            </div>

            <!-- content field-->
            <div class="form__group">
                    {% if form.content.errors %} {{ form.content(class="form-control") }}
                    <div class="text-danger">
                        {% for error in form.content.errors %}
                        <span>{{ error }}</span> {% endfor %}
                    </div>
                    {% else %} 
                        {{ form.content(required=true, class="form-control", id="editor", placeholder="Enter blog content") }} 
                    {% endif %}
            </div>
            <!-- submit button -->
            <div class="form__group mt-3">
                    {{ form.submit(class="btn btn-sm btn-success") }}
            </div>
        </form>

{% endblock %}