{% extends 'base.html' %} {% block content %}
        <h1 class="text-center mb-3">Login</h1>
        <!--Register Form-->
        <form method="POST" action="" class="form">
            {{ form.hidden_tag() }}
            
            <!--username field-->
            <div class="form__group text-center mb-3">
                    {% if form.username.errors %} {{ form.username(class=" form-control") }}
                <div class="text-danger">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                    {% else %} 
                        {{ form.username(autofocus=true, class="form-control", required=true, placeholder=" Enter username") }} 
                    {% endif %}
            </div>
            <!--password field-->
            <div class="form__group text-center mb-3">
                    {% if form.password.errors %} {{ form.password(class="form-control") }}
                    <div class="text-danger">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span> {% endfor %}
                    </div>
                    {% else %} 
                        {{ form.password(required=true, class="form-control", placeholder="Enter password") }} 
                    {% endif %}
            </div>
                <!--submit button-->
                <div class="form__group text-center mb-2">
                    {{ form.submit(class="btn btn-primary mb-3") }}
                </div>
                    <!-- not registered message -->
                    <div class="text-center">Not Registered? <br> Sign Up 
                        <a href="{{ url_for('register') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="signup-icon" viewBox="0 0 20 20">
                                <path d="M2 6H0v2h2v2h2V8h2V6H4V4H2v2zm7 0a3 3 0 0 1 6 0v2a3 3 0 0 1-6 0V6zm11 9.14A15.93 15.93 0 0 0 12 13c-2.91 0-5.65.78-8 2.14V18h16v-2.86z"/>
                            </svg>
                        </a>
                    </div>
                
        </form>
{% endblock %}